<!DOCTYPE html>
<html lang="en">
<head>
<script>
    const ROOM_ID = "<%= roomId %>"
</script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>

<script src="/socket.io/socket.io.js" defer></script>
<script src="script.js" defer></script>

<style>
#video-grid{
    display:grid;
    grid-template-columns : repeat(auto-fill,300px);
    grid-auto-rows : 300px;
}



video {
    width:100%;
    height : 100%;
    object-fit:cover;
}
</style>
</head>
<body>

<div id="video-grid"></div>

</body>
</html>
